.overview {
  h3 {
    line-height: 26px;
    color: #24292F;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    margin-bottom: 11px;
  }
  .content_title {
    line-height: 26px;
    color: rgba(36, 41, 47, 100);
    font-size: 12px;
    font-family: PingFangSC-Medium;
  }
  .env_state, .resource_type {
    .content {
      border: solid 1px #E1E4E8;
      height: 356px;
      padding: 7px 20px 0 11px;
      .table {
        height: 110px;
        border-top: solid 1px #E1E4E8;
      }
    }
  }
  .obj_resource, .resource_tendency {
    .content {
      border: solid 1px #E1E4E8;
      height: 246px;
    }
  }
}