@import 'containers/App/styles/variable.less';

.ct {
  :global {
    .searchPanel {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      .ant-radio-button-wrapper {
        .anticon {
          color: #DDDDDD;
        }
        &-checked {
          .anticon {
            color: @primary-color;
          }
        }
      }
    }
  }
}


.ctDetail {
  :global {
    .List {
      &.gap {
        margin-top: 16px;
      }
      .list-title {
        cursor: pointer;
        &:hover {
          color: @primary-color;
        }
      }
      .list-content {
        text-align: right;
      }
    }
    .overview {
      display: flex;
      align-items: start;
      .right {
        width: 320px;
        .gitInfo {
          padding: 16px 0;
          p {
            line-height: 2em;
            font-size: 16px;
            .anticon {
              margin-right: 4px;
            }
          }
        }
        .jobInfo {
          border-top: 1px solid #ebebeb;
          padding: 16px 0;
          .item {
            line-height: 2.5em;
            .label {
              font-weight: bold;
            }
            .value {
              float: right;
              word-break: break-all;
            }
          }
        }
      }
      .left {
        flex: 1 0;
        margin-right: 32px;
        max-width: ~'calc(100% - 320px)';
        .card {
          margin-bottom: 32px;
        }
      }
    }
    .running {}
    .variable {
      .tableWrapperForm {
        .editable-table {
          //避免formItem提示信息导致错位
          tr[class*="ant-"] {
            vertical-align: top;
            td:last-child {
              vertical-align: middle;
            }
          }
        }
        margin-top: 16px;
        .inlineOp {
          .danger {
            color: #FF4D4F;
          }
        }
        .blockAdd {
          margin-top: 16px;
        }
      }
    }
    .setting {
      display: flex;
      align-items: start;
      .subNav {
        width: 240px;
        margin-right: 32px;
      }
      .rightPanel {
        flex: 1 0;
        .tipZone {
          background-color: #fafafa;
          padding: 16px;
          margin: 16px 0;
          border: 1px solid #EBEBEB;
          & > p {
            line-height: 1.5em;
          }
        }
        .tipText {
          line-height: 3em;
        }
      }
    }
    .task {
      .collapse-panel {
        margin-bottom: 16px;
        .title {
          font-size: 16px;
          .subTitle {
            font-size: 12px;
            margin-left: 16px;
            color: @descriptions-color;
            font-weight: normal;
          }
        }
      }
    }
  }
}


.ctCreate {
  :global {
    .stepWrapper {
      width: 50%;
      margin: 0 auto 32px;
    }
    .hidden {
      display: none;
    }
    .step1 {
      .cardContent {
        & > span {
          font-size: 16px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.86);
        }
        & > a {
          float: right;
        }
      }
    }
    .step2 {
      width: 50%;
      margin: 0 auto;
    }
  }
}
