.importHeader {
  font-size: 16px;
  font-weight: 600;

  span {
    vertical-align: middle;
    color: red;
    font-weight: normal;

  }
}

.radioText {
  line-height: 22px;
  color: rgba(0, 0, 0, 0.46);
  font-size: 12px;
  margin-left: 28px;
}

.resultHeader {
  color: rgba(0, 0, 0, 0.86);
  margin-bottom: 7px;
  font-weight: 500;
}

.resultTitle {
  line-height: 22px;
  color: rgba(0, 0, 0, 0.66);
  font-size: 14px;
  &.greenColor {
    color: #088245;
  }
}
.resultText {
  line-height: 22px;
  color: rgba(0, 0, 0, 0.46);
  font-size: 12px;
}
