.importHeader {
  font-size: 16px;
  font-weight: 600;

  span {
    vertical-align: middle;
    color: red;
    font-weight: normal;

  }
}

.radioText {
  line-height: 22px;
  color: rgba(0, 0, 0, 0.46);
  font-size: 12px;
  margin-left: 28px;
}

.resultTitle {
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
}
.resultText {
  line-height: 22px;
  color: rgba(0, 0, 0, 0.46);
  font-size: 14px;
}
