.markdownDocWrapper {
  height: 100%;
 
  :global .help-docs-wrapper {
   
    height: 100%;

    .help-docs-menus {
      
    }

    .help-docs-content {
      height: 100%;
      overflow: hidden;
    }
  }
  
}