.resource_item {
  width: 100%;
  border: 2px solid rgba(225, 228, 232, 1);
  border-radius: 3px;
  margin-bottom: 24px;
  .header {
    display: flex;
    height: 42px;
    line-height: 42px;
    padding-left: 15px;
    padding-right: 50px;
    background-color: #F9F9F9;
    justify-content: space-between;
    .item {
      font-size: 12px;
      &:last-child {
        margin-right: 0;
      }
      .label {
        color: rgba(36, 41, 47, 100);
        font-family: PingFangSC-Medium;
        margin-right: 24px;
      }
      .value {
        color: rgba(87, 96, 106, 100);
        font-family: PingFangSC-Regular;
        a {
          color: inherit;
          &:hover {
            color: #08857C;
          }
        }
      }
    }
  }
  .json {
    // height: auto;
    // max-height: 432px;
    height: 432px;
    background-color: #E1E4E8;
    overflow: hidden;
    :global {
      .CodeMirror {
        background-color: #E1E4E8;
        .cm-string {
          color: #24292F;
        }
      }
      .CodeMirror-linenumber {
        color: #ccc;
      }
    }
  }
  .unfold {
    // max-height: inherit;
    height: auto;
  }
}