.pageHeader {
  :global {
    .header-wrapper {
      padding: 24px;
      // background-color: #fff;
      h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
        &.title {
          font-weight: bold;
        }
        .des {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.46);
          margin-left: 32px;
          font-weight: normal;
        }
      }

      p {
        &.subDes {
          text-align: right;
        }
      }
      
    }

    .breadcrumbWrapper {
      padding: 0 24px;
    }
    
  }
}
