@import 'containers/App/styles/variable.less';

.depolyDetail {
  :global {

    .ant-tabs-top>.ant-tabs-nav::before,
    .ant-tabs-bottom>.ant-tabs-nav::before,
    .ant-tabs-top>div>.ant-tabs-nav::before,
    .ant-tabs-bottom>div>.ant-tabs-nav::before {
      border-bottom: none;
    }

    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab-active {
      border-bottom-color: #ebebeb;
    }
  }
}

.depolySettingDetail {
  :global {

    .setting-tabs {
      border: 2px solid #E1E4E8;

      .ant-tabs-tab {
        border-radius: 0 !important;
        margin: 0 !important;
        width: 166px !important;
        display: flex;
        justify-content: center;
        border-width: 0 1px 1px 0;

        &.ant-tabs-tab-active {
          border-bottom-color: transparent !important;
        }
      }

      .ant-tabs-content {
        padding: 0 19px;
      }
    }
  }
}

.survivalTimeRight {
  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 2px 0 0 2px !important;
    }
  }
}

.survivalTimeLeft {
  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 0 2px 2px 0 !important;
      border-left: none !important;
    }

    .ant-picker {
      border-radius: 0 2px 2px 0 !important;
      border-left: none !important;
    }
  }
}

.deployJournal {
  :global {

    .title {
      color: @gray-9;
      font-weight: bold;
    }

    .subTitle {
      font-size: 12px;
      margin-left: 16px;
      color: @gray-6;
      font-weight: normal;
    }

    .content {
      color: @gray-9;
      word-break: break-all;
    }
  }
}

.linkToCommit {
  &:hover {
    color: #00AB9D;
    cursor: pointer;
    text-decoration: underline;
  }
}

:global {
  .lockModal {
    .ant-modal-header {
      padding: 28px 0 0 34px;
      border-bottom: none !important;
    }
    .ant-modal-body {
      padding-left: 64px;
    }
    .ant-modal-close-x {
      // line-height: normal;
      // margin-top: 20px;
      // font-size: 12px;
    }
  }
}
