.orgSwitcher {
  margin: 0 16px;
}
.navs {
  height: 100%;
}

:global {
  .idcos-app-header {
    .rParts {
      //Override antd styles
      .ant-select {
        &:hover {
          .ant-select-selector {
            border-color: unset;
          }
        }
        &.ant-select-focused {
          .ant-select-selector {
            border-color: unset;
          }
        }
        .ant-select-selector {
          background-color: rgba(255,255,255, 0.16);;
          border-color: transparent;
          & > .ant-select-selection-item {
            color: #FFFFFF;
          }
        }
      }
      .ant-menu-item {
        &:hover {
          background: unset;
        }
      }
      .ant-menu-item-selected {
        background-color: unset;
        border-top: 2px solid #00bcd4;;
        & > a {
          color: #00bcd4;
        }
      }
      & > .user {
        flex: 1 0;
        text-align: right;
         & > span {
           margin-right: 20px;
           cursor: pointer;
           &:last-child {
             color: rgba(255,255,255, 0.86);
             font-weight: 700;
             margin-right: 6px;
           }
           &:hover {
             transition: all 300ms;
             color: #FFF;
           }
           .anticon {
             font-size: 16px;
           }
        }
      }
    }
  }

  .dev-manual-tooltip-content {
    width: max-content;
    padding: 4px;

    button {
      border-color: #fff !important;
      margin-left: 12px;
    }
  }
}
