.detectionCard {
  max-height: 500px;

  &.fullFixedHeight {
    max-height: 100%;
  }

  &.fixedHeight {
    max-height: none;
    height: 500px;

    &.fullFixedHeight {
      height: 100%;
    }
  }
  
}