@import 'containers/App/styles/variable.less';

.seniorSelectList {

  :global {

    .key-value {
      line-height: 22px;
      color: @gray-8;
    }
    .description {
      line-height: 20px;
      color: @gray-6;
    }
    // .footer {
    //   &:hover {
    //     background: @gray-3;
    //     color: @gray-6;
    //     cursor: pointer;
    //   }

    //   span{
    //     padding-left: 12px;
    //   }
    // }
  }
}
