@import 'containers/App/styles/variable.less';

.senior_select {
  :global {
    .ant-select-selection-search-input {
      color: #fff;
    }
  }
}

.seniorSelectList {

  :global {

    .senior-select-header {
      padding: 8px;
    }

    .name {
      line-height: 22px;
      color: @gray-8;
    }
    .description {
      line-height: 20px;
      color: @gray-6;
    }
  }
}
