@import 'containers/App/styles/variable.less';

.deploy_log_card_wrapper {
  :global {
    .deploy-log-card {
      height: 100%;
      display: flex;
      flex-direction: column;

      &>.ant-card-head {
        flex: 0 0 auto;

        .card-title {
          .card-title-top {
            display: flex;
            align-items: center;

            .title {
              line-height: 24px;
              margin-right: 8px;
            }

            .status {
              line-height: 22px;
            }
          }

          .card-title-bottom {
            line-height: 20px;
            color: @gray-8;
            font-size: 12px;
            font-weight: normal;
          }
        }

        .tool {
          cursor: pointer;

          .tool-icon {
            margin-right: 7px;
            color: @primary-color;
          }

          .tool-text {
            color: #575757;
          }
        }
      }

      &>.ant-card-body {
        flex: 1;
        min-height: 0;

        &>.card-body-scroll {
          height: 500px;
          overflow-y: scroll;

          &.isFullscreen {
            height: calc(100vh - 76px);
          }

          &>.deploy-log-collapse {
            :global {
              .line-index {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
            }
            .ant-collapse-item {
              position: sticky;
              top: 0;

              .ant-collapse-header {
                background: rgba(36, 38, 35);
                color: rgba(255, 255, 255, .86);
                position: sticky;
                top: 0;
                z-index: 2;
              }

              &.ant-collapse-item-disabled {
                .ant-collapse-header {
                  color: rgba(255, 255, 255, .46);
                }
              }

              &.ant-collapse-item-active {
                position: relative;
                top: 0;
                z-index: 1;

                .ant-collapse-header {
                  z-index: 2;
                }

                .ant-collapse-content {
                  color: rgba(255, 255, 255, .66);

                  .ant-collapse-content-box {
                    padding: 0 36px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.deployLog {
  color: #EEFFFF;
  font-family: inherit;
  height: auto;
  min-height: 50px;

  &.isFullscreen {
    // min-height: calc(100vh - 76px);
  }

  :global {
    .ansi-coder-content {
      font-size: 12px;
      word-break: break-all;

      .ansi-line {
        min-height: 22px;
        line-height: 22px;
        position: relative;

        .line-index {
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 3px;
          padding-right: 11px;
          text-align: right;
          color: #546E7A;
          white-space: nowrap;
        }

        .line-text {
          word-wrap: break-word;
          white-space: pre-wrap;
          word-break: break-all;
        }

      }
    }
  }
}

:global {
  .ant-alert-message {
    color: #DA1E28;
    border-radius: 3px;
  }

  .hoverSuspend {
    color: rgba(0, 0, 0, 1);

    &:hover {
      border-radius: 3px;
      background-color: rgba(225, 228, 232, 0.5);
      color: rgba(0, 0, 0, 1);
    }
  }
}
