@import 'containers/App/styles/variable.less';

.card_title {
  &_top {
    display: flex;

    .title {
      line-height: 24px;
      margin-right: 8px;
    }
    
    .status {
      line-height: 22px;
    }
  }
  &_bottom {
    line-height: 20px;
    color: @gray-8;
    font-size: 12px;
    font-weight: normal;
  }
}

.deploy_log_collapse {
  :global {
    .ant-collapse-item {
      .ant-collapse-header {
        background: none;
        color: rgba(255, 255, 255, .86);
      }
      &.ant-collapse-item-active {
        .ant-collapse-header {
          background-color: rgba(255, 255, 255, 0.1);
        }
        .ant-collapse-content {
          color: rgba(255, 255, 255, .66);
          .ant-collapse-content-box {
            height: 350px;
            padding: 0 36px;
          }
        }
      }
    }
  }
}

.deployLog {
  height: 100%;
  overflow: auto;
  // background-color: #263238;
  color: #EEFFFF;
  font-family: inherit;

  :global {
    .ansi-coder-content {
      font-size: 12px;
      word-break:break-all;
      .ansi-line {
        min-height: 22px;
        line-height: 22px;
        position: relative;
        
        .line-index {
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 3px;
          padding-right: 11px;
          text-align: right;
          color: #546E7A;
          white-space: nowrap;
        }
  
        .line-text {
          word-wrap: break-word;
          white-space: pre-wrap;
          word-break: break-all;
        }
  
      }
    }
  }
}