@import 'containers/App/styles/variable.less';

.projectList {
  width: 100%;
  margin-top: 48px;

  :global {
  
    .pjtBox {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      padding: 0 24px;

      .pjtItemBox {
        width: 282px;
        height: 145px;
        border-radius: 4px;
        border: 2px solid #E1E4E8;
        padding: 16px;
        cursor: pointer;

        .pjtItemBox-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 12px;

          .pjtItemBox-header-left {
            flex: 1;
            min-width: 0;
            display: flex;
            align-items: center;
            color: #24292F;
            font-weight: 600;
            gap: 8px;

            &-icon {
            }

            &-name {
              flex: 1;
              min-width: 0;
              display: flex;
              align-items: center;
            }

            &-count {
              background-color: #008C5A;
              border-radius: 8px;
              height: 16px;
              padding: 0 6px;
              text-align: center;
              line-height: 16px;
              color: #fff;
              font-size: 12px;
            }
          }

          .configIcon {
            font-size: 16px;
            border-radius: 2px;
            color: #24292F;
            &:hover {
              background-color: #DAE4E6;
              color: #008C5A;
            }
            .ant-dropdown-menu {
              width: 100px;
              padding: 8px;
              .ant-dropdown-menu-item {
                padding: 9px 12px;
                border-radius: 4px;
                color: #24292F;

                &:hover {
                  background-color: #DAE4E6;
                  color: #008C5A;
                }
              }
            }
          }
         
        }

        .pjtItemBox-content {
          display: flex;
          align-items: center;
          gap: 12px;
          margin: 4px 0;
          .description {
            flex: 1;
            min-width: 0;
            font-size: 12px;
            color: #57606A;
          }
          .mark {
            color: #24292F;
          }
        }

        .project-report {
          height: 54px;
        }
      }

      .pjtItemBox:hover {
        border-color: rgba(0, 130, 84, 1);
      }

      .creatPjtBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F9F9F9;

        .plusIcon {
          font-size: 16px;
          margin-bottom: 4px;
          padding: 7px;
          border-radius: 50%;
          border: 1px solid #E1E4E8;
          background: #fff;
        }
        .create-text {
          color: #24292F;
          font-weight: 500;
        }
      }
    }
  }
}
