@import 'containers/App/styles/variable.less';

.orgWrapper {
  height: 100%;
  overflow-y: auto;
  min-width: @ctw;

  :global {

    .header {
      padding: 36px 24px 0;
      .view-title {
        color: #24292F;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .body {

    }
  }
}

.projectActionContent {
  width: 34px;
  height: 34px;
  background: #E9F3FC;
  border: 2px solid #D7E0E7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

.menuSelectfooterContent {

  :global {
    .more {
      cursor: pointer;
      padding: 5px 12px;
      margin-top: 4px;
      color: @gray-8;

      &:hover {
        background: @gray-3;
      }

      .icon {
        margin-right: 8px;
      }
    }

    .create {
      padding: 16px 12px 12px;
      cursor: pointer;

      .btn {
        line-height: 22px;

        .icon {
          color: @gray-8;
          margin-right: 8px;
        }
      }
    }
  }

}
