.ansiCodeCard :global {
  .ansi-coder-wrapper {
    height: 350px;
    overflow: auto;
    background-color: #263238;
    color: #EEFFFF;
		font-family: inherit;

    .ansi-coder-content {
			.ansi-line {
				min-height: 22px;
				line-height: 22px;
				padding-left: 30px;
				position: relative;
				
				.line-index {
					position: absolute;
					top: 0;
					left: 0;
					width: 26px;
					padding-right: 3px;
					text-align: right;
					color: #546E7A;
				}

				.line-text {
					word-wrap: break-word;
					white-space: pre-wrap;
					word-break: normal;
				}

			}
		}
  }
}
