#app {
  .ant-collapse-header {
    background-color: rgba(230, 240, 240, 0.7);
    font-size: 14px;
    font-weight: 500;
  }
  .ant-collapse-content > .ant-collapse-content-box {
      padding: 16px 0;
  }
}
