.idcos-text-ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-inner-width {
  width: @ctw;
  margin: 0 auto;
  &.whiteBg {
    background: #FFFFFF;
  }
  &.withPadding {
    padding: 16px;
  }
}

.danger-text {
  color: @color-error;
  &:hover {
    color: @color-error;
  }
}

.tableRender {
  h2 {
    color: @subtitle-color;
    font-size: 14px;
    font-weight: bold;
  }
  p {
    color: @descriptions-color;
  }
  .status-tip {
    &::before {
      content: '●';
      margin-right: 8px;
    }
    &.enabled::before {
      color: @color-success;
    }
    &.disabled::before {
      color: @color-error;
    }
  }
  .status-text {
    color: @color-success;
    display: inline-block;
    line-height: 1em;
    &.danger {
      color: @color-error;
    }
    &.normal {
      color: @color-link;
    }
  }
}

.panel-content-no-paading .ant-collapse-content-box,
.card-body-no-paading .ant-card-body
{
  padding: 0 !important;
}

.coder-card .ant-card-head {
  border-width: 2px;
}

.full-card {
  width: 100vw!important;
  height: 100vh!important;
  position: fixed!important;
  z-index: 100!important;
  top: 0!important;
  left: 0!important;
  margin: 0 !important;

  .card-coder, .ansi-coder-wrapper {
    height: calc(100vh - 65px)!important;
  }
}
