.fn-h-20 { height: 20px; }

.fn-h-24 { height: 24px; }

.fn-mb-24 { margin-bottom: 24px; }

.fn-highlight { background-color: rgba(255, 255, 0, 0.4); color: #fff; }

.fn-color-gray-6 { color: @gray-6; }
.fn-color-gray-7 { color: @gray-7; }
.fn-color-gray-8 { color: @gray-8; }
.fn-color-gray-9 { color: @gray-9; }
.fn-color-destroy { color: @color-destroy; }
.fn-color-primary { color: @primary-color; }

.fn-TA-C { text-align: center; }

.fn-disabled-link { color: @gray-6; }

.fn-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }