@black-1: #242424;
@black-2: #575757;

@color-highlight: #FF9800;
@color-highlight-light: #FFF3E0;

@color-link: #2196F3;
@color-success: #4CAF50;
@color-warning: #FF9800;
@color-error: #F44336;

/** 代码变更颜色 **/
@color-add: #52C41A; // 增
@color-change: #0072FF; // 改
@color-destroy: #FF4D4F; // 删

@bg-gray: #fafafa;

@border-light-gray: #ebebeb;

@text-color-darker: rgba(0, 0, 0, .86);

@primary-color: #00bcd4;

@heading-color: rgba(0, 0, 0, 0.66);
@text-color: rgba(0, 0, 0, 0.66);
@text-color-secondary: rgba(0, 0, 0, 0.46);

@title-color: #242424;
@subtitle-color: rgba(0, 0, 0, .86);
@descriptions-color: rgba(0, 0, 0, .26);

// 内部容器宽度：1200px;
@ctw: 1200px;

